@model List<Gestor_Presupuesto.Models.ViewModels.AbmViewModels>
@{
    ViewBag.Title = "ABM";
}

<h2>@ViewBag.Title</h2>
<div class="bottom" ;padding:10px">
    <a href="~/Abm/Operation" class="btn-primary">Show List</a>
   
</div>

<div class="bottom" ;padding:10px">
    <a href="~/Abm/Alta" class="btn-primary">New</a>
</div>
