@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <a href=/Admin/Index>Admin</a>
        <a href=/User/Index> User</a>
    </div>
    


</div>